.navBar{
    display: block;
    background-color: aquamarine;
    height: 50px;
    width: auto;
    text-align: center;
    padding-top: 25px;
}

.navBut{
    display: block;
    color: green;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-color: black;

}
